<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>area</key>
		<string>柞水县</string>
		<key>city</key>
		<string>商洛市</string>
		<key>desc</key>
		<string>商洛市-柞水县</string>
		<key>regionId</key>
		<integer>611026</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>镇安县</string>
		<key>city</key>
		<string>商洛市</string>
		<key>desc</key>
		<string>商洛市-镇安县</string>
		<key>regionId</key>
		<integer>611025</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>山阳县</string>
		<key>city</key>
		<string>商洛市</string>
		<key>desc</key>
		<string>商洛市-山阳县</string>
		<key>regionId</key>
		<integer>611024</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>商南县</string>
		<key>city</key>
		<string>商洛市</string>
		<key>desc</key>
		<string>商洛市-商南县</string>
		<key>regionId</key>
		<integer>611023</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>丹凤县</string>
		<key>city</key>
		<string>商洛市</string>
		<key>desc</key>
		<string>商洛市-丹凤县</string>
		<key>regionId</key>
		<integer>611022</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>洛南县</string>
		<key>city</key>
		<string>商洛市</string>
		<key>desc</key>
		<string>商洛市-洛南县</string>
		<key>regionId</key>
		<integer>611021</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>商州区</string>
		<key>city</key>
		<string>商洛市</string>
		<key>desc</key>
		<string>商洛市-商州区</string>
		<key>regionId</key>
		<integer>611002</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>市辖区</string>
		<key>city</key>
		<string>商洛市</string>
		<key>desc</key>
		<string>商洛市-市辖区</string>
		<key>regionId</key>
		<integer>611001</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>白河县</string>
		<key>city</key>
		<string>安康市</string>
		<key>desc</key>
		<string>安康市-白河县</string>
		<key>regionId</key>
		<integer>610929</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>旬阳县</string>
		<key>city</key>
		<string>安康市</string>
		<key>desc</key>
		<string>安康市-旬阳县</string>
		<key>regionId</key>
		<integer>610928</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>镇坪县</string>
		<key>city</key>
		<string>安康市</string>
		<key>desc</key>
		<string>安康市-镇坪县</string>
		<key>regionId</key>
		<integer>610927</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>平利县</string>
		<key>city</key>
		<string>安康市</string>
		<key>desc</key>
		<string>安康市-平利县</string>
		<key>regionId</key>
		<integer>610926</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>岚皋县</string>
		<key>city</key>
		<string>安康市</string>
		<key>desc</key>
		<string>安康市-岚皋县</string>
		<key>regionId</key>
		<integer>610925</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>紫阳县</string>
		<key>city</key>
		<string>安康市</string>
		<key>desc</key>
		<string>安康市-紫阳县</string>
		<key>regionId</key>
		<integer>610924</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>宁陕县</string>
		<key>city</key>
		<string>安康市</string>
		<key>desc</key>
		<string>安康市-宁陕县</string>
		<key>regionId</key>
		<integer>610923</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>石泉县</string>
		<key>city</key>
		<string>安康市</string>
		<key>desc</key>
		<string>安康市-石泉县</string>
		<key>regionId</key>
		<integer>610922</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>汉阴县</string>
		<key>city</key>
		<string>安康市</string>
		<key>desc</key>
		<string>安康市-汉阴县</string>
		<key>regionId</key>
		<integer>610921</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>汉滨区</string>
		<key>city</key>
		<string>安康市</string>
		<key>desc</key>
		<string>安康市-汉滨区</string>
		<key>regionId</key>
		<integer>610902</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>市辖区</string>
		<key>city</key>
		<string>安康市</string>
		<key>desc</key>
		<string>安康市-市辖区</string>
		<key>regionId</key>
		<integer>610901</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>子洲县</string>
		<key>city</key>
		<string>榆林市</string>
		<key>desc</key>
		<string>榆林市-子洲县</string>
		<key>regionId</key>
		<integer>610831</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>清涧县</string>
		<key>city</key>
		<string>榆林市</string>
		<key>desc</key>
		<string>榆林市-清涧县</string>
		<key>regionId</key>
		<integer>610830</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>吴堡县</string>
		<key>city</key>
		<string>榆林市</string>
		<key>desc</key>
		<string>榆林市-吴堡县</string>
		<key>regionId</key>
		<integer>610829</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>佳县</string>
		<key>city</key>
		<string>榆林市</string>
		<key>desc</key>
		<string>榆林市-佳县</string>
		<key>regionId</key>
		<integer>610828</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>米脂县</string>
		<key>city</key>
		<string>榆林市</string>
		<key>desc</key>
		<string>榆林市-米脂县</string>
		<key>regionId</key>
		<integer>610827</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>绥德县</string>
		<key>city</key>
		<string>榆林市</string>
		<key>desc</key>
		<string>榆林市-绥德县</string>
		<key>regionId</key>
		<integer>610826</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>定边县</string>
		<key>city</key>
		<string>榆林市</string>
		<key>desc</key>
		<string>榆林市-定边县</string>
		<key>regionId</key>
		<integer>610825</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>靖边县</string>
		<key>city</key>
		<string>榆林市</string>
		<key>desc</key>
		<string>榆林市-靖边县</string>
		<key>regionId</key>
		<integer>610824</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>横山县</string>
		<key>city</key>
		<string>榆林市</string>
		<key>desc</key>
		<string>榆林市-横山县</string>
		<key>regionId</key>
		<integer>610823</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>府谷县</string>
		<key>city</key>
		<string>榆林市</string>
		<key>desc</key>
		<string>榆林市-府谷县</string>
		<key>regionId</key>
		<integer>610822</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>神木县</string>
		<key>city</key>
		<string>榆林市</string>
		<key>desc</key>
		<string>榆林市-神木县</string>
		<key>regionId</key>
		<integer>610821</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>榆阳区</string>
		<key>city</key>
		<string>榆林市</string>
		<key>desc</key>
		<string>榆林市-榆阳区</string>
		<key>regionId</key>
		<integer>610802</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>市辖区</string>
		<key>city</key>
		<string>榆林市</string>
		<key>desc</key>
		<string>榆林市-市辖区</string>
		<key>regionId</key>
		<integer>610801</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>佛坪县</string>
		<key>city</key>
		<string>汉中市</string>
		<key>desc</key>
		<string>汉中市-佛坪县</string>
		<key>regionId</key>
		<integer>610730</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>留坝县</string>
		<key>city</key>
		<string>汉中市</string>
		<key>desc</key>
		<string>汉中市-留坝县</string>
		<key>regionId</key>
		<integer>610729</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>镇巴县</string>
		<key>city</key>
		<string>汉中市</string>
		<key>desc</key>
		<string>汉中市-镇巴县</string>
		<key>regionId</key>
		<integer>610728</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>略阳县</string>
		<key>city</key>
		<string>汉中市</string>
		<key>desc</key>
		<string>汉中市-略阳县</string>
		<key>regionId</key>
		<integer>610727</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>宁强县</string>
		<key>city</key>
		<string>汉中市</string>
		<key>desc</key>
		<string>汉中市-宁强县</string>
		<key>regionId</key>
		<integer>610726</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>勉县</string>
		<key>city</key>
		<string>汉中市</string>
		<key>desc</key>
		<string>汉中市-勉县</string>
		<key>regionId</key>
		<integer>610725</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>西乡县</string>
		<key>city</key>
		<string>汉中市</string>
		<key>desc</key>
		<string>汉中市-西乡县</string>
		<key>regionId</key>
		<integer>610724</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>洋县</string>
		<key>city</key>
		<string>汉中市</string>
		<key>desc</key>
		<string>汉中市-洋县</string>
		<key>regionId</key>
		<integer>610723</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>城固县</string>
		<key>city</key>
		<string>汉中市</string>
		<key>desc</key>
		<string>汉中市-城固县</string>
		<key>regionId</key>
		<integer>610722</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>南郑县</string>
		<key>city</key>
		<string>汉中市</string>
		<key>desc</key>
		<string>汉中市-南郑县</string>
		<key>regionId</key>
		<integer>610721</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>汉台区</string>
		<key>city</key>
		<string>汉中市</string>
		<key>desc</key>
		<string>汉中市-汉台区</string>
		<key>regionId</key>
		<integer>610702</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>市辖区</string>
		<key>city</key>
		<string>汉中市</string>
		<key>desc</key>
		<string>汉中市-市辖区</string>
		<key>regionId</key>
		<integer>610701</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>黄陵县</string>
		<key>city</key>
		<string>延安市</string>
		<key>desc</key>
		<string>延安市-黄陵县</string>
		<key>regionId</key>
		<integer>610632</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>黄龙县</string>
		<key>city</key>
		<string>延安市</string>
		<key>desc</key>
		<string>延安市-黄龙县</string>
		<key>regionId</key>
		<integer>610631</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>宜川县</string>
		<key>city</key>
		<string>延安市</string>
		<key>desc</key>
		<string>延安市-宜川县</string>
		<key>regionId</key>
		<integer>610630</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>洛川县</string>
		<key>city</key>
		<string>延安市</string>
		<key>desc</key>
		<string>延安市-洛川县</string>
		<key>regionId</key>
		<integer>610629</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>富县</string>
		<key>city</key>
		<string>延安市</string>
		<key>desc</key>
		<string>延安市-富县</string>
		<key>regionId</key>
		<integer>610628</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>甘泉县</string>
		<key>city</key>
		<string>延安市</string>
		<key>desc</key>
		<string>延安市-甘泉县</string>
		<key>regionId</key>
		<integer>610627</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>吴起县</string>
		<key>city</key>
		<string>延安市</string>
		<key>desc</key>
		<string>延安市-吴起县</string>
		<key>regionId</key>
		<integer>610626</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>志丹县</string>
		<key>city</key>
		<string>延安市</string>
		<key>desc</key>
		<string>延安市-志丹县</string>
		<key>regionId</key>
		<integer>610625</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>安塞县</string>
		<key>city</key>
		<string>延安市</string>
		<key>desc</key>
		<string>延安市-安塞县</string>
		<key>regionId</key>
		<integer>610624</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>子长县</string>
		<key>city</key>
		<string>延安市</string>
		<key>desc</key>
		<string>延安市-子长县</string>
		<key>regionId</key>
		<integer>610623</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>延川县</string>
		<key>city</key>
		<string>延安市</string>
		<key>desc</key>
		<string>延安市-延川县</string>
		<key>regionId</key>
		<integer>610622</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>延长县</string>
		<key>city</key>
		<string>延安市</string>
		<key>desc</key>
		<string>延安市-延长县</string>
		<key>regionId</key>
		<integer>610621</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>宝塔区</string>
		<key>city</key>
		<string>延安市</string>
		<key>desc</key>
		<string>延安市-宝塔区</string>
		<key>regionId</key>
		<integer>610602</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>市辖区</string>
		<key>city</key>
		<string>延安市</string>
		<key>desc</key>
		<string>延安市-市辖区</string>
		<key>regionId</key>
		<integer>610601</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>华阴市</string>
		<key>city</key>
		<string>渭南市</string>
		<key>desc</key>
		<string>渭南市-华阴市</string>
		<key>regionId</key>
		<integer>610582</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>韩城市</string>
		<key>city</key>
		<string>渭南市</string>
		<key>desc</key>
		<string>渭南市-韩城市</string>
		<key>regionId</key>
		<integer>610581</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>富平县</string>
		<key>city</key>
		<string>渭南市</string>
		<key>desc</key>
		<string>渭南市-富平县</string>
		<key>regionId</key>
		<integer>610528</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>白水县</string>
		<key>city</key>
		<string>渭南市</string>
		<key>desc</key>
		<string>渭南市-白水县</string>
		<key>regionId</key>
		<integer>610527</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>蒲城县</string>
		<key>city</key>
		<string>渭南市</string>
		<key>desc</key>
		<string>渭南市-蒲城县</string>
		<key>regionId</key>
		<integer>610526</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>澄城县</string>
		<key>city</key>
		<string>渭南市</string>
		<key>desc</key>
		<string>渭南市-澄城县</string>
		<key>regionId</key>
		<integer>610525</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>合阳县</string>
		<key>city</key>
		<string>渭南市</string>
		<key>desc</key>
		<string>渭南市-合阳县</string>
		<key>regionId</key>
		<integer>610524</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>大荔县</string>
		<key>city</key>
		<string>渭南市</string>
		<key>desc</key>
		<string>渭南市-大荔县</string>
		<key>regionId</key>
		<integer>610523</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>潼关县</string>
		<key>city</key>
		<string>渭南市</string>
		<key>desc</key>
		<string>渭南市-潼关县</string>
		<key>regionId</key>
		<integer>610522</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>华县</string>
		<key>city</key>
		<string>渭南市</string>
		<key>desc</key>
		<string>渭南市-华县</string>
		<key>regionId</key>
		<integer>610521</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>临渭区</string>
		<key>city</key>
		<string>渭南市</string>
		<key>desc</key>
		<string>渭南市-临渭区</string>
		<key>regionId</key>
		<integer>610502</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>市辖区</string>
		<key>city</key>
		<string>渭南市</string>
		<key>desc</key>
		<string>渭南市-市辖区</string>
		<key>regionId</key>
		<integer>610501</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>兴平市</string>
		<key>city</key>
		<string>咸阳市</string>
		<key>desc</key>
		<string>咸阳市-兴平市</string>
		<key>regionId</key>
		<integer>610481</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>武功县</string>
		<key>city</key>
		<string>咸阳市</string>
		<key>desc</key>
		<string>咸阳市-武功县</string>
		<key>regionId</key>
		<integer>610431</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>淳化县</string>
		<key>city</key>
		<string>咸阳市</string>
		<key>desc</key>
		<string>咸阳市-淳化县</string>
		<key>regionId</key>
		<integer>610430</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>旬邑县</string>
		<key>city</key>
		<string>咸阳市</string>
		<key>desc</key>
		<string>咸阳市-旬邑县</string>
		<key>regionId</key>
		<integer>610429</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>长武县</string>
		<key>city</key>
		<string>咸阳市</string>
		<key>desc</key>
		<string>咸阳市-长武县</string>
		<key>regionId</key>
		<integer>610428</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>彬县</string>
		<key>city</key>
		<string>咸阳市</string>
		<key>desc</key>
		<string>咸阳市-彬县</string>
		<key>regionId</key>
		<integer>610427</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>永寿县</string>
		<key>city</key>
		<string>咸阳市</string>
		<key>desc</key>
		<string>咸阳市-永寿县</string>
		<key>regionId</key>
		<integer>610426</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>礼泉县</string>
		<key>city</key>
		<string>咸阳市</string>
		<key>desc</key>
		<string>咸阳市-礼泉县</string>
		<key>regionId</key>
		<integer>610425</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>乾县</string>
		<key>city</key>
		<string>咸阳市</string>
		<key>desc</key>
		<string>咸阳市-乾县</string>
		<key>regionId</key>
		<integer>610424</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>泾阳县</string>
		<key>city</key>
		<string>咸阳市</string>
		<key>desc</key>
		<string>咸阳市-泾阳县</string>
		<key>regionId</key>
		<integer>610423</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>三原县</string>
		<key>city</key>
		<string>咸阳市</string>
		<key>desc</key>
		<string>咸阳市-三原县</string>
		<key>regionId</key>
		<integer>610422</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>渭城区</string>
		<key>city</key>
		<string>咸阳市</string>
		<key>desc</key>
		<string>咸阳市-渭城区</string>
		<key>regionId</key>
		<integer>610404</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>杨陵区</string>
		<key>city</key>
		<string>咸阳市</string>
		<key>desc</key>
		<string>咸阳市-杨陵区</string>
		<key>regionId</key>
		<integer>610403</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>秦都区</string>
		<key>city</key>
		<string>咸阳市</string>
		<key>desc</key>
		<string>咸阳市-秦都区</string>
		<key>regionId</key>
		<integer>610402</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>市辖区</string>
		<key>city</key>
		<string>咸阳市</string>
		<key>desc</key>
		<string>咸阳市-市辖区</string>
		<key>regionId</key>
		<integer>610401</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>太白县</string>
		<key>city</key>
		<string>宝鸡市</string>
		<key>desc</key>
		<string>宝鸡市-太白县</string>
		<key>regionId</key>
		<integer>610331</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>凤县</string>
		<key>city</key>
		<string>宝鸡市</string>
		<key>desc</key>
		<string>宝鸡市-凤县</string>
		<key>regionId</key>
		<integer>610330</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>麟游县</string>
		<key>city</key>
		<string>宝鸡市</string>
		<key>desc</key>
		<string>宝鸡市-麟游县</string>
		<key>regionId</key>
		<integer>610329</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>千阳县</string>
		<key>city</key>
		<string>宝鸡市</string>
		<key>desc</key>
		<string>宝鸡市-千阳县</string>
		<key>regionId</key>
		<integer>610328</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>陇县</string>
		<key>city</key>
		<string>宝鸡市</string>
		<key>desc</key>
		<string>宝鸡市-陇县</string>
		<key>regionId</key>
		<integer>610327</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>眉县</string>
		<key>city</key>
		<string>宝鸡市</string>
		<key>desc</key>
		<string>宝鸡市-眉县</string>
		<key>regionId</key>
		<integer>610326</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>扶风县</string>
		<key>city</key>
		<string>宝鸡市</string>
		<key>desc</key>
		<string>宝鸡市-扶风县</string>
		<key>regionId</key>
		<integer>610324</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>岐山县</string>
		<key>city</key>
		<string>宝鸡市</string>
		<key>desc</key>
		<string>宝鸡市-岐山县</string>
		<key>regionId</key>
		<integer>610323</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>凤翔县</string>
		<key>city</key>
		<string>宝鸡市</string>
		<key>desc</key>
		<string>宝鸡市-凤翔县</string>
		<key>regionId</key>
		<integer>610322</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>陈仓区</string>
		<key>city</key>
		<string>宝鸡市</string>
		<key>desc</key>
		<string>宝鸡市-陈仓区</string>
		<key>regionId</key>
		<integer>610304</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>金台区</string>
		<key>city</key>
		<string>宝鸡市</string>
		<key>desc</key>
		<string>宝鸡市-金台区</string>
		<key>regionId</key>
		<integer>610303</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>渭滨区</string>
		<key>city</key>
		<string>宝鸡市</string>
		<key>desc</key>
		<string>宝鸡市-渭滨区</string>
		<key>regionId</key>
		<integer>610302</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>市辖区</string>
		<key>city</key>
		<string>宝鸡市</string>
		<key>desc</key>
		<string>宝鸡市-市辖区</string>
		<key>regionId</key>
		<integer>610301</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>宜君县</string>
		<key>city</key>
		<string>铜川市</string>
		<key>desc</key>
		<string>铜川市-宜君县</string>
		<key>regionId</key>
		<integer>610222</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>耀州区</string>
		<key>city</key>
		<string>铜川市</string>
		<key>desc</key>
		<string>铜川市-耀州区</string>
		<key>regionId</key>
		<integer>610204</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>印台区</string>
		<key>city</key>
		<string>铜川市</string>
		<key>desc</key>
		<string>铜川市-印台区</string>
		<key>regionId</key>
		<integer>610203</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>王益区</string>
		<key>city</key>
		<string>铜川市</string>
		<key>desc</key>
		<string>铜川市-王益区</string>
		<key>regionId</key>
		<integer>610202</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>市辖区</string>
		<key>city</key>
		<string>铜川市</string>
		<key>desc</key>
		<string>铜川市-市辖区</string>
		<key>regionId</key>
		<integer>610201</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>高陵县</string>
		<key>city</key>
		<string>西安市</string>
		<key>desc</key>
		<string>西安市-高陵县</string>
		<key>regionId</key>
		<integer>610126</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>户县</string>
		<key>city</key>
		<string>西安市</string>
		<key>desc</key>
		<string>西安市-户县</string>
		<key>regionId</key>
		<integer>610125</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>周至县</string>
		<key>city</key>
		<string>西安市</string>
		<key>desc</key>
		<string>西安市-周至县</string>
		<key>regionId</key>
		<integer>610124</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>蓝田县</string>
		<key>city</key>
		<string>西安市</string>
		<key>desc</key>
		<string>西安市-蓝田县</string>
		<key>regionId</key>
		<integer>610122</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>长安区</string>
		<key>city</key>
		<string>西安市</string>
		<key>desc</key>
		<string>西安市-长安区</string>
		<key>regionId</key>
		<integer>610116</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>临潼区</string>
		<key>city</key>
		<string>西安市</string>
		<key>desc</key>
		<string>西安市-临潼区</string>
		<key>regionId</key>
		<integer>610115</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>阎良区</string>
		<key>city</key>
		<string>西安市</string>
		<key>desc</key>
		<string>西安市-阎良区</string>
		<key>regionId</key>
		<integer>610114</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>雁塔区</string>
		<key>city</key>
		<string>西安市</string>
		<key>desc</key>
		<string>西安市-雁塔区</string>
		<key>regionId</key>
		<integer>610113</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>未央区</string>
		<key>city</key>
		<string>西安市</string>
		<key>desc</key>
		<string>西安市-未央区</string>
		<key>regionId</key>
		<integer>610112</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>灞桥区</string>
		<key>city</key>
		<string>西安市</string>
		<key>desc</key>
		<string>西安市-灞桥区</string>
		<key>regionId</key>
		<integer>610111</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>莲湖区</string>
		<key>city</key>
		<string>西安市</string>
		<key>desc</key>
		<string>西安市-莲湖区</string>
		<key>regionId</key>
		<integer>610104</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>碑林区</string>
		<key>city</key>
		<string>西安市</string>
		<key>desc</key>
		<string>西安市-碑林区</string>
		<key>regionId</key>
		<integer>610103</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>新城区</string>
		<key>city</key>
		<string>西安市</string>
		<key>desc</key>
		<string>西安市-新城区</string>
		<key>regionId</key>
		<integer>610102</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<string>市辖区</string>
		<key>city</key>
		<string>西安市</string>
		<key>desc</key>
		<string>西安市-市辖区</string>
		<key>regionId</key>
		<integer>610101</integer>
		<key>show</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
